h3{
  font-weight: bold;
  font-size: 24px;
  color : darkgreen;
}
.form{
  overflow-y: scroll;
  height: 100%;
  width : 100%;
  position : absolute;
  background-color : white;
  z-index : 2500;
  border : 1px solid gray;
  box-shadow : 5px 10px 8px #888888;;
  border-radius: 8px;
  text-align: center;
  float: center;
  padding: 10px;
}
.innerForm{
  font-size: 10px;
  background-color : #C1FFC1;
  border: 1px solid darkgray;
  border-radius: 8px;
  width: 200px;
  padding: 10px;
  margin : 0 auto;
  margin-bottom: 20px;
}
.inputContainer{
  margin-bottom: 10px;
  text-align: left;
}
.formInputs{
  width: 186px;
  border: 1px solid darkgray;
  display: block;
  margin-right: auto;
  font-size: 12px;
  height: 16px;
}

div.ReactTags__tagInput {
    width: 180px;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
}
div.ReactTags__tagInputField {
    width: 180px;
    border-radius: 2px;
    display: inline-block;
}

.formButton{
  color : green;
  border-radius: 8px;
  background-color: white;
  border:1px solid darkgray;
  font-size: 20px;
}
.disabledSubmitButton{
  background-color : lightgray;
  opacity: .5;
}
.redText{
  color : red;
  font-size: 10px;
  vertical-align: middle;
}
.warning{
  color : red;
  font-size: 10px;
  vertical-align: middle;
  display: block;
}


