h3{
  font-weight: bold;
  font-size: 24px;
  color : darkgreen;
}
.form{
  overflow-y: scroll;
  height: 100%;
  width : 100%;
  position : absolute;
  background-color : white;
  z-index : 2500;
  border : 1px solid gray;
  box-shadow : 5px 10px 8px #888888;;
  border-radius: 8px;
  text-align: center;
  float: center;
  padding: 10px;
}
.innerForm{
  font-size: 10px;
  background-color : #C1FFC1;
  border: 1px solid darkgray;
  border-radius: 8px;
  width: 290px;
  padding: 10px;
  margin : 0 auto;
  margin-bottom: 20px;
}
.inputContainer{
  margin-bottom: 10px;
  text-align: left;
}
.videoInputContainer{
  margin-bottom: 0px;
  text-align: left;
}
.smallInputsDiv{
  display: inline-flex;
  padding-bottom: 5px;
  padding-top: 0px;
  text-align: left;  
}
.timeDiv{
  display: block;
}
.inputContainer1{
  position: static;
  left:185px;
  text-align: left;
}
.inputContainer2{
  position: static;
  left: 285px;
  text-align: left;
}
.inputContainer3{
  left: 385px;
  position: static;
  text-align: left;
}
/* Styles for the input */
.myReactTags {
    width: 280px;
    border-radius: 4px;
    border-color: darkgray;
}
.formInputs{
  width: 280px;
  border: 1px solid darkgray;
  display: block;
  margin-right: auto;
  font-size: 12px;
  height: 16px;
}
.formShortInputs{
  width: 60px;
  border: 1px solid darkgray;
  display: block;
  margin-right: auto;
  font-size: 12px;
  height: 16px;
}
.videoTimeInputsDiv{
  display: inline;
}
.startTimeLabel{
  margin-left:-186px;
  margin-right: 64px;
}

.timeInput{
  text-align: left;
  border: 1px solid darkgray;
  float: left;
  font-size: 12px;
  margin-right: 30px;
  width: 50px;
  height: 16px;
}
.smallInput{
  text-align: left;
  border: 1px solid darkgray;
  float: left;
  margin-right: 30px;
  width: 70px;
  height: 16px;
}

.toggleShowTimeInputs{
  text-align: left;
  font-size: 10px;
  color: blue;
  padding-bottom: 0px;
}

.formButton{
  color : green;
  border-radius: 8px;
  background-color: white;
  border:1px solid darkgray;
  font-size: 20px;
}
.disabledSubmitButton{
  background-color : lightgray;
  opacity: .5;
}
.redText{
  color : red;
  font-size: 10px;
  vertical-align: middle;
}
.warning{
  color : red;
  font-size: 10px;
  vertical-align: middle;
  display: block;
}
.timeFormatInfo{
  color : black;
  font-size: 10px;
  margin-left: 30px;
  vertical-align: middle;
  display: inline;
}
.textarea {
    font-size: 16px;
    resize: both;
    min-height: 10px;
    height: 80px;
    min-width:280px;
    max-width:280px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 8px;
}


