html {
  -webkit-text-size-adjust: 100%;
}
h1{
  font-size: 25pt;
}
button { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color : #F0F0F0;
  text-align: center;
}

input{
  font-size: 16px;
  width : 100px;
  border : 1px solid lightgray;
  border-radius: 5px;
  padding-left: 3px;
}



@supports (-webkit-overflow-scrolling: touch) {  
}
.main{
  background-color: white;
}
.trickListDiv{
  margin-top: -10px;
}
.info{
  font-size: 16px;
  color : #787878;
  width: 375px;
}

.inputStyle{
  width: 180px;
  margin-right : 10px;
}
.instructions{
  padding-left: 10px;
  margin-bottom: 15px;
  z-index: 30
}
.textLink{
  background-color : white;
  border : none;
  font-size: 16px;
  vertical-align: middle;
  display: inline-block;
  padding : 0;
  color : #1E90FF;
}










