.App {
}
.checkboxDiv{
  display: inline-block; 
  margin-right: 20px;
  width: 220px;
  font-size : 8pt;
}
.listCard{
  border : 1px solid gray;
}
.selectedListCard{
  border : 1px solid gray;
  background-color : darkgray;
}
.listDiv{
  width: 375px;
  border : 1px solid gray;
  margin-left : 1px;
  display: inline-block;
}
.selectedListButton{
  background-color : darkgray;
}
.graphDiv{
  display: inline-block;
  vertical-align: top;
  height : 1000px;
  width  : 1000px;
  border: 1px solid black;
  text-align : left;
  position: fixed;
}
.sectionHeader{
  display: inline-block;
}
.addToMyListButton{
  float: right;
  background-color : lightblue;
  border-radius: 3px;
}
.nestedCheckboxDiv{
  margin-left: 20px;
  width: 200px;
  font-size : 8pt;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.selectedFilterButton{
  font-size: 40pt;
  background-color : darkgray;
}
.unselectedFilterButton{
  font-size: 40pt;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
