html {
  -webkit-text-size-adjust: 100%;
}
h1{
  font-size: 25pt;
}
button { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color : #F0F0F0;
  text-align: center;
}

input{
  font-size: 16px;
  width : 100px;
}

@supports (-webkit-overflow-scrolling: touch) {  
}
.info{
  font-size: 16px;
  color : #787878;
  width: 375px;
}
.header{
  margin-top: 15px;
  margin-bottom: 15px;  
}
.version{
  vertical-align: middle;
  margin-left: 5px;
  font-size: 14px;
}
.title {
  font-weight: bold;
  font-size: 22px;
  margin-left: 15px;
  vertical-align: middle;
}
.headerButton {
  background-color : white;
  margin-right: 15px;
  border : none;
  font-size: 16px;
  vertical-align: middle;
  float: right;
}

.App {
  height: 100px;
}

.swipedDiv{
  width : 25px;
  box-shadow : 5px 10px 8px #888888;;
  background-color : white;
  border-radius: 8px;
  height : 100%;
  z-index: 3;
  opacity : 100%;
  border : 1px solid gray;
  position: absolute;
  -ms-touch-action: none;
  touch-action: none;
  font-size: 12pt;
  padding-left: 10px;
}

.instructions{
  padding-left: 10px;
  margin-bottom: 15px;
  z-index: 30
}












