.options{
	position : absolute;
	background : white;
	opacity : 95%;
	z-index: 2;
	font-size: 10px;
}
.option {
	padding : 5px;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top : 1px solid grey;

 }
 .optionBorders{
	border-left: 2px solid black;
	border-right: 2px solid black; 	
 }
 .option:hover { 
 	border : 2px solid gray;
 	cursor: pointer;
  }
 .match { 
 	font-weight: bold;
 	text-decoration: underline;
  }