.reply{
    margin-left : 50px;
}
.replyButton{
    color : blue;
    background-color: white;
    border : none;
}
.commentContainer{
    padding-left: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-top: 15px;
    border-radius: 4px;
    background-color: rgb(235, 235, 235);
}
.commentUser{
    color : blue;
    font-weight : bold;
    border : none;
    margin-right : 15px;
} 
.date{
    color:gray;
    margin-left:5px;
}