
.profileImage{
  width: 35px;
  height:35px;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 10px;
}

.instagramHeader{
  font-weight: bold;
  display : flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 15px;
  margin-top: 10px;
  justify-content: center;
}
.instagramUsername{
  margin-left: 5px;
  margin-right: 5px;
}
.instagramViewProfileButton{
  background-color : #0868CE;
  color : white;
  margin-left: 5px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  height : 30px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}
.instagramLogo{
  width: 15px;
  height:15px;
  margin-left: 5px;
}
.demo{
  width: 100%;
  height: 224px;
  animation: fade-in 2s ease;
}
.gifDemo{
  width: 93%;
  height: 100%;
  vertical-align: middle;
  animation: fade-in 1.3s ease;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.demoOuterDivDetail{
  width: 100%;
  height: auto;
  border: 1px solid darkgray;
  z-index : 1200;
}
.demoOuterDivExpandedSection{
  width: 60%;
  margin: 0 auto;  
  margin-top: 10px;
}

