.detailDiv{
  overflow-y: auto;
  width: 100%;
  max-width: 400px;
  height: 100%;
  background-color : white;
  text-align: center;
  overflow-x:hidden;
  margin : 0 auto;
}
.noCommentsDiv{
  padding-left: 10px;
}
.rotatedNegative90{
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -moz-transform: rotate(90deg);   /* Firefox */
  -ms-transform: rotate(90deg);   /* IE 9 */
  -o-transform: rotate(90deg);   /* Opera */
  transform: rotate(90deg);
}

.backButtonDetails{
  height : 15px;
  width : 15px;
  float : left;
  margin-top : 4px;
  cursor: pointer;
  vertical-align: center;
}
.backButtonLabelDetails{
  color: #3090C7;
  cursor: pointer;
  float: left;
  vertical-align: center;
}


.detailInfoDiv{
  text-align: left;
  padding-left:  10px;
  white-space: nowrap;      /*keep text on one line */
  margin-bottom: 10px;
  margin-top: 15px;
}
.moreInfoDiv{
  width: 200px;
}
.explanationSection{
  height: auto;
  width: 110%;
}
.explanation{
  font-size: 12px;
  width : 90%;
  display : block;
  height: auto;
  white-space: normal;
}
.detailHeader{  
  margin-bottom: 5px ;
  margin-top:  35px;
  padding-top: 5px;
  font-size: 20px;
}

.detailLabel{
  margin-bottom : 5px;
  margin-right: 5px;
  display: inline-flex;
  font-weight: bold;
  font-size: 14px;
  width: 120px; 
  right: 0;
}

.catchesLabel{
  margin-left: auto;
  margin-bottom : 5px;
  margin-right: 5px;
  display: inline-flex;
  font-weight: bold;
  font-size: 14px;
  width: 73px; 
}

.detailTags{
  width:100%;
  display : flex;
  flex-wrap: wrap;
  font-size: 13px;
  margin-bottom:  10px;
}
.detailTag{
  margin-right: 3px;
}
.detailLink{
  padding : 0;
  margin : 0 auto;
  width : 120px;
  display: block;
  color : #0000EE;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}


.moreInfoLabelDiv{
  width : 100%;
  text-align:  center;
  margin-bottom: 5px;
}
.moreInfoLabel{
  font-size: 14px;
  color: blue;
  margin : 0 auto;
  cursor: pointer;
}
.showCommentsLabelDiv{
  width : 100%;
  text-align:  center;
  margin-bottom: 5px;
}
.showCommentsButton{
  font-size: 14px;
  color: blue;
  margin : 0 auto;  
}
.extraGifSectionLab{
  max-height: 270px;
}
.extraGifSectionLibrary{
  max-height: 400px;
}
.toggleExtraGifLabel{
   font-size: 14px;
  color: blue;
  margin : 0 auto; 
  display:block-inline;
}
.showExplanation{
  font-size: 14px;
  color: blue;
}
.editCatchIcon{
  margin-left: 5px;
  height : 15px;
  width : 15px;
  vertical-align: middle;
  cursor: pointer;
}

.flairDiv{
  display:flex;
  align-items: center;
}
.deleteTrickIcon{
  height : 20px;
  width : 20px;
  float: right;
  padding-top : 3px;
  margin-left: 6px;
  cursor: pointer;
}
.catchesIconDetailSmall{
  width: 17px;
  height: 17px;
  vertical-align: middle;
  opacity: .2;
}
.catchesIconDetailLarge{
  width: 20px;
  height: 20px;
  vertical-align: middle;
  opacity: .2;
}
.flairIcon{
  height : 20px;
  width : 20px;
  margin-right: 6px;
  opacity: .2;  
  cursor: pointer;  
}

.selectedFlair{
  opacity: 1;
  filter:  invert(0.5) sepia(1) saturate(8) hue-rotate(90deg);

}
.editCardIcon{
  height : 20px;
  width : 20px;
  float: right;
  padding-top : 3px;
  cursor: pointer;
}
.suggestButton{
  font-size: 12px;
  color: blue;
  cursor: pointer;
}
.suggestSubmitMessage{
  font-size: 10px;
  color: red;
  margin-left: 8px;
}
.suggestionButtons{
    border : 1px solid magenta ;
    border-radius: 18px;
    background-color: white;
    color : magenta;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
}
.suggestionButtonsNormal{
    background-color: white;

    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;


    font-size: 14px;
    color: blue;
 
    cursor: pointer;
}
.suggestionButtonsDisabled{
    border : 1px solid gray ;
    border-radius: 18px;
    background-color: white;
    color : gray;
    font-weight: bold;
    margin-right: 10px;
}
.detailsSuggestionAutoComplete{
    font-size: 10px;
  color: red;
  margin-left: 8px;
}
.shareFilterDetailButton{
  height : 20px;
  width : 20px;
  padding-top : 3px;
  padding-right: 10px;
  float: right; 
  margin-left: 6px;
  align-items: right;
  cursor: pointer;
}
.topButtons{
  display: inline;
  margin-top: 5px;
}
.closeDetailIcon{
  height : 24px;
  width : 24px;
  margin-right : 8px;
  margin-top : 8px;
  margin-left:  auto;
}

.relationshipLists{
  width: 100%;
  display:block;
  height: auto;
}

.relationshipList{
  text-align: left;
  display:block;
  height: auto;
}

.relationshipLabel{
  width: 100%;
  margin-left : 10px;
  font-size: 20px;
  margin-bottom : 10px;
}
.commentsContainer{
    max-width : 800px;
    width : 100%;
    margin : 0 auto;
    margin-top : 40px;
    text-align: left;

}
.firstCommentContainer{
    margin-top : 20px;
    margin-bottom : 4px;
    border : 1px solid lightgray;
    border-radius: 15px;
    padding-left : 10px;  
    display: flex;
    align-items: center;  
    min-height: 15px;
}
.firstComment{
    width: 60%;
    margin : 0;
    padding-left : 5px;
    margin-left: 15px;
    border : none;
    resize: none;
    overflow: hidden;
    overflow-y: auto;
    min-height: 15px;
    max-height: 100px;
    padding-top: 4px;
    height: 18px;
    font-size: 13px;
}

.clickableProperty{
    color : blue;
    font-size: 14px;
    cursor: pointer;
}

.firstCommentIcon{
    font-weight: bold;
    color : blue;
    font-size: 13px;
}