.detailDiv{
  overflow-y: auto;
  position : absolute;
  left: 0px;
  width: 99%;
  max-width: 400px;
  height: 100%;
  background-color : white;
  z-index : 1200;
  border : 1px solid gray;
  box-shadow : 5px 10px 8px #888888;;
  border-radius: 8px;
  text-align: center;
  overflow-x:hidden;
}

.detailInfoDiv{
  text-align: left;
  padding-left:  10px;
  white-space: nowrap;      /*keep text on one line */
  margin-bottom: 10px;
  margin-top: 15px;
}
.moreInfoDiv{
  width: 200px;
}
.explanationSection{
  height: auto;
  width: 110%;
}
.explanation{
  font-size: 12px;
  width : 90%;
  display : block;
  height: auto;
  white-space: normal;
}
.detailHeader{  
  margin-bottom: 5px ;
  margin-top:  5px;
  padding-top: 5px;
  font-size: 20px;
}

.detailLabel{
  margin-bottom : 5px;
  margin-right: 5px;
  display: inline-flex;
  font-weight: bold;
  font-size: 14px;
  width: 90px; 
}

.detailTags{
  width:100%;
  display : flex;
  flex-wrap: wrap;
  font-size: 13px;
  margin-bottom:  10px;
}
.detailTag{
  margin-right: 3px;
}
.detailLink{
  padding : 0;
  margin : 0 auto;
  width : 120px;
  display: block;
  color : #0000EE;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}


.moreInfoLabelDiv{
  width : 100%;
  text-align:  center;
  margin-bottom: 5px;
}
.moreInfoLabel{
  font-size: 14px;
  color: blue;
  margin : 0 auto;
}
.showExplanation{
  font-size: 14px;
  color: blue;
}
.editCatchIcon{
  margin-left: 5px;
  height : 15px;
  width : 15px;
}
.addAndRemoveMyTricksButtonOnDetail{
  line-height: -0px;
  font-size: 20px;
  padding : 2px;
  border-radius: 15px;
  height: 24px;
  width: 24px;
  float : left;
  margin-top : 8px;
  margin-left: 10px;
  margin-right : 2px;
  background-color: white;
}
.deleteTrickIcon{
  height : 20px;
  width : 20px;
  float : left;
  margin-right : 2px;
  margin-top : 8px;
}
.editCardIcon{
  height : 20px;
  width : 20px;
  float : left;
  margin-right : 2px;
  margin-top : 8px;
}
.topButtons{
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.closeDetailIcon{
  height : 24px;
  width : 24px;
  margin-right : 8px;
  margin-top : 8px;
  margin-left:  auto;
}

.relationshipLists{
  width: 100%;
  display:block;
  height: auto;
}

.relationshipList{
  text-align: left;
  display:block;
  height: auto;
}

.relationshipLabel{
  width: 100%;
  margin-left : 10px;
  font-size: 20px;
  margin-bottom : 10px;
}