.detailDiv{
  overflow-y: auto;
  width: 100%;
  max-width: 400px;
  height: 100%;
  background-color : white;
  text-align: center;
  overflow-x:hidden;
  margin : 0 auto;
}
.rotatedNegative90{
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -moz-transform: rotate(90deg);   /* Firefox */
  -ms-transform: rotate(90deg);   /* IE 9 */
  -o-transform: rotate(90deg);   /* Opera */
  transform: rotate(90deg);
}

.backButton{
  height : 12px;
  width : 12px;
  float : left;
  margin-top : 8px;
  cursor: pointer;
}
.catchesIconDetail{
  width: 17px;
  height: 17px;
  margin-bottom:-2px;
}

.detailInfoDiv{
  text-align: left;
  padding-left:  10px;
  white-space: nowrap;      /*keep text on one line */
  margin-bottom: 10px;
  margin-top: 15px;
}
.moreInfoDiv{
  width: 200px;
}
.explanationSection{
  height: auto;
  width: 110%;
}
.explanation{
  font-size: 12px;
  width : 90%;
  display : block;
  height: auto;
  white-space: normal;
}
.detailHeader{  
  margin-bottom: 5px ;
  margin-top:  35px;
  padding-top: 5px;
  font-size: 20px;
}

.detailLabel{
  margin-bottom : 5px;
  margin-right: 5px;
  display: inline-flex;
  font-weight: bold;
  font-size: 14px;
  width: 90px; 
}

.catchesLabel{
  margin-bottom : 5px;
  margin-right: 5px;
  display: inline-flex;
  font-weight: bold;
  font-size: 14px;
  width: 73px; 
}

.detailTags{
  width:100%;
  display : flex;
  flex-wrap: wrap;
  font-size: 13px;
  margin-bottom:  10px;
}
.detailTag{
  margin-right: 3px;
}
.detailLink{
  padding : 0;
  margin : 0 auto;
  width : 120px;
  display: block;
  color : #0000EE;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}


.moreInfoLabelDiv{
  width : 100%;
  text-align:  center;
  margin-bottom: 5px;
}
.moreInfoLabel{
  font-size: 14px;
  color: blue;
  margin : 0 auto;
}
.extraGifSectionLab{
  max-height: 270px;
}
.extraGifSectionLibrary{
  max-height: 400px;
}
.toggleExtraGifLabel{
   font-size: 14px;
  color: blue;
  margin : 0 auto; 
  display:block-inline;
}
.showExplanation{
  font-size: 14px;
  color: blue;
}
.editCatchIcon{
  margin-left: 5px;
  height : 15px;
  width : 15px;
}

.flairDiv{
  display:inline-block;
}
.deleteTrickIcon{
  height : 20px;
  width : 20px;
  float: right;
  margin-left: 6px;
  margin-top : 8px;
  cursor: pointer;
}
.starButton{
  line-height: -0px;
  font-size: 20px;
  padding : 2px;
  border-radius: 15px;
  height: 24px;
  width: 24px;
  float : left;
  margin-top : 8px;
  margin-left: 10px;
  margin-right : 2px;
  background-color: white;
  opacity: .3;
}
.babyIcon{
  height : 24px;
  width : 24px;
  margin-left: 6px;
  margin-top : 8px;
  opacity: .2;  
}
.ninjaIcon{
  height : 24px;
  width : 24px;
  margin-left: 6px;
  margin-top : 8px;
  opacity: .2;
}
.selectedFlair{
  opacity: 1;
  filter:  invert(0.5) sepia(1) saturate(8) hue-rotate(90deg);

}
.editCardIcon{
  height : 20px;
  width : 20px;
  float: right;
  margin-top : 8px;
  cursor: pointer;
}
.shareFilterDetailButton{
  height : 20px;
  width : 20px;
  padding-top : 10px;
  padding-right: 10px;
  float: right; 
  margin-left: 6px;
  align-items: right;
  cursor: pointer;
}
.topButtons{
  display: inline;
  margin-top: 5px;
}
.closeDetailIcon{
  height : 24px;
  width : 24px;
  margin-right : 8px;
  margin-top : 8px;
  margin-left:  auto;
}

.relationshipLists{
  width: 100%;
  display:block;
  height: auto;
}

.relationshipList{
  text-align: left;
  display:block;
  height: auto;
}

.relationshipLabel{
  width: 100%;
  margin-left : 10px;
  font-size: 20px;
  margin-bottom : 10px;
}