.outerFilterDiv{
  overflow-y: scroll;
  height: 130%;
  width : 99%;
  position : absolute;
  top:0px;
  background-color : white;
  z-index : 2501;
  border : 1px solid gray;
  box-shadow : 5px 10px 8px #888888;;
  border-radius: 8px;
  align-items: center;

}

.filterDiv{
  padding-top: 10px;
    padding-left: 10px;
  width: 100%;
  max-width: 360px;
  overflow-x: hidden;
  margin: 0;
  align-items: center;
  margin: 0 auto;
}


.filterHeader{
  margin:7px;
  font-size: 16px;
}
.headerButtons{
  margin-bottom: 60px;
  display: flex;
  align-items: center;

}
.backButtonFilter{
  height : 15px;
  width : 15px;
  cursor: pointer;
}
.filterSubmitButton{
  color: #3090C7;
  cursor: pointer;
  float: right;
  margin-top: 15px;
  margin-right: 50px;
  font-size: 18px;
}
.backButtonLabel{
  color: #3090C7;
  cursor: pointer;
}
.shareFilterButton{
  height : 20px;
  width : 20px;
  margin-right: 20px;
  margin-left : auto; 
  cursor: pointer;
}

.rotatedNegative90{
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -moz-transform: rotate(90deg);   /* Firefox */
  -ms-transform: rotate(90deg);   /* IE 9 */
  -o-transform: rotate(90deg);   /* Opera */
  transform: rotate(90deg);
}



.tagsCheckBox{
  text-align:  left;
  margin-left:10px;
  margin-top:25px;
  position:absolute;
  display: inline-block;
}

.tagsCheckBoxLabel{
  text-align:  right;
  margin-top: -10px;
  margin-left:60px;
  position:relative;
  
}

.filterNum{
  color: black;
  border-radius: 8px;
  margin: 2px;
  outline: none;
}
.filterNumSelected{
  background-color: lightblue;
}
.filterHasTutorial{
  height: 22px;
  width: 22px;
  color: black;
  border-radius: 8px;
  margin: 2px;
  margin-left: 13px;
  outline: none;
}
.filterHasTutorialSelected{
  background-color: lightblue;
}
.starIconFilter{
  height : 24px;
  width : 24px;
  opacity: .2;    
  vertical-align: middle;
}
.babyIconFilter{
  height : 24px;
  width : 24px;
  margin-left: 6px;
  opacity: .2; 
  vertical-align: middle; 
}
.ninjaIconFilter{
  height : 24px;
  width : 24px;
  margin-left: 6px;
  opacity: .2;
  vertical-align: middle;
}
.catchesIconFilter{
  height : 24px;
  width : 24px;
  margin-left: 2px;
  opacity: .2;
  vertical-align: middle;
}
.selectedFlair{
  opacity: 1;
  filter:  invert(0.5) sepia(1) saturate(8) hue-rotate(90deg);

}


.relationshipButton{
  color: black;
  border-radius: 8px;
  margin: 2px;
  outline: none;
}

.relationshipButtonSelected{
  background-color: lightblue;
}

.filterApplyButton{
  width: 100%;
  height: 50px;
}

.sortRadioButtons{
  text-align:  left;
  margin-top:-75px;
  margin-left:-75px;
  position:relative;
  display: inline-block;
}

.sortRadioButtonsLabel{
  text-align:  left;
  margin-top:-35px;
  margin-left:-35px;
  position:relative;
  display: inline-block;
}

.catchesInput{
  width: 40px;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
  height: 16px;
}


.relatedToggle{
  margin-left: 20px;
}








