.filterDiv{
  padding-left : 5px;
  padding-right : 5px;
  left : 0;
  width: 230px;
  height: 400px;
  margin-left: 70px;
  max-height: 400px;
  border : 1px solid gray;
  display: inline-block;
  z-index: 1200;
  position: absolute;
  top:96px;
  opacity : .95;
  background-color : white;
  box-shadow : 5px 10px 8px #888888;;
  border-radius: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling : touch;
}

.filterHeader{
  margin:7px;
  font-size: 16px;
}

.closeFilter2 {
  background-color : white;
  margin-right: 20px;
  margin-top: 20px;
  border : none;
  font-size: 20px;
  vertical-align: middle;
  position: relative;
  float: right;
  z-index: 1000;
  display: inline-block;
  padding : 0;
}
.closeFilter{
  height : 24px;
  width : 24px;
  float : right;
  margin-right : 8px;
  margin-top : 8px;
}
.shareFilterButton{
  height : 20px;
  width : 20px;
  margin-right : 4px;
  padding-top : 10px; 
  margin-left: 70%;
  align-items: right;
}

.tagsCheckBox{
  text-align:  left;
  margin-left:10px;
  margin-top:25px;
  position:absolute;
  display: inline-block;
}

.tagsCheckBoxLabel{
  text-align:  right;
  margin-top: -10px;
  margin-left:60px;
  position:relative;
  
}

.filterNum{
  color: black;
  border-radius: 8px;
  margin: 6px;
  outline: none;
}

.filterNumSelected{
  background-color: lightblue;
}

.relationshipButton{
  color: black;
  border-radius: 8px;
  margin: 2px;
  outline: none;
}

.relationshipButtonSelected{
  background-color: lightblue;
}

.filterApplyButton{
  width: 100%;
  height: 50px;
}

.sortRadioButtons{
  text-align:  left;
  margin-top:-75px;
  margin-left:-75px;
  position:relative;
  display: inline-block;
}

.sortRadioButtonsLabel{
  text-align:  left;
  margin-top:-35px;
  margin-left:-35px;
  position:relative;
  display: inline-block;
}

.catchesInput{
  width: 40px;
  border: 1px solid darkgray;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
  height: 16px;
}

div.ReactTags__tags {
    position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 140px;
    border-radius: 2px;
    display: inline-block;

}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 22px;
    margin: 0;
    font-size: 12px;
    width: 129%;
    border: 1px solid darkgray;
    padding: 0 4px;

}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    cursor: move;
    border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
    z-index: 1000;


}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
    
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;

}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;

}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;

}

.relatedToggle{
  margin-left: 20px;
}

.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 25px;
  height: 12px;
  padding: 0;
  border-radius: 30px;
  background-color: #4D4D4D;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: #19AB27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128D15;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 11px;
  height: 11px;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  background-color: #FAFAFA;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 13px;
  border-color: #19AB27;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
  -moz-box-shadow: 0px 0px 3px 2px #0099E0;
  box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
  -moz-box-shadow: 0px 0px 5px 5px #0099E0;
  box-shadow: 0px 0px 5px 5px #0099E0;
}







