.hamburger{
	display : none;
}
@media (max-width: 415px) {
	.fullHeader{
		display : none;
	}
	.hamburger{
		display : inline-block;
		margin-right: 15px;
		cursor: pointer;
	}
}
.header{
  margin-top: 15px;
  margin-bottom: 15px;  
  display : flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}
.expandedMenu{
	position : absolute;
	opacity: 1;
	z-index : 3400;
	width : 150px;
	right : 0;
	border : 2px solid gray;
	border-radius: 3px;
	box-shadow : 4px 0px 6px #888888;
}
.headerButton {
  background-color : white;
  margin-right: 15px;
  border : none;
  font-size: 16px;
  float: right;
  display: inline-block;
  padding : 0;
  color : #1E90FF;
}
.dropDownButton{
	display : block;
	width : 100%;
	font-size: 16px;
	font-weight: bold;
	background-color: #f2f2f2;
  	color : #1E90FF;
  	border : none;
  	height : 40px;
}

.version{
  vertical-align: middle;
  margin-left: 5px;
  font-size: 14px;
}
.title {
  font-weight: bold;
  font-size: 22px;
  margin-left: 15px;
  vertical-align: middle;
  color :  #EE82EE;
  font-family: Futura;
}
