.outerDiv{
  position : absolute;
  display: block;

  height: 100%;
  width : 99%;
  left: 0px;

  background-color : white;
  z-index : 2501;
  border : 1px solid gray;
  box-shadow : 5px 10px 8px #888888;;
  border-radius: 8px;

  text-align: center;
  overflow-x:hidden;
  max-width: 400px;
}

.detailDiv{
  overflow-y: auto;
  position : absolute;
  left: 0px;
  width: 99%;
  max-width: 400px;
  height: 100%;
  background-color : white;
  z-index : 1200;
  border : 1px solid gray;
  box-shadow : 5px 10px 8px #888888;;
  border-radius: 8px;
  text-align: center;
  overflow-x:hidden;
}

.homeScreenTrickOuterDiv{
  width: 100%;
  display:block;
  height: auto;
  border : 1px solid gray;
  border-radius: 8px;
}

.homeScreenTrickDiv{
  display:block;
  height: auto;
}
.homeScreenTrickMainLabel{
  text-align: center;
  width: 100%;
  margin-left : 10px;
  font-size: 20px;

}
.homeScreenTrickSubLabel{
  text-align: left;
  width: 100%;
  
  font-size: 16px;
  margin:3px;
  margin-left : 10px;

}
.homeScreenTrickLeaderLabel{
  text-align: left;
  width: 100%;
  margin-left : 10px;
  font-size: 12px;

}
.patternListButton{
  width:100%;
  font-size: 30px;
  height: 40px;
  background-color: #EE82EE;
  font-family: Futura;
  color:white;
}

.statsLabel{
  text-align: left;
  width: 100%;
  margin-left : 10px;
  font-size: 14px;
}

.stats{
  text-align: left;
  width: 100%;
  margin-left : 10px;
  font-size: 14px;
}

