.homeOuterDiv{
  text-align: center;
  width : 100%;
}
.rotatedNegative90{
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -moz-transform: rotate(90deg);   /* Firefox */
  -ms-transform: rotate(90deg);   /* IE 9 */
  -o-transform: rotate(90deg);   /* Opera */
  transform: rotate(90deg);
}

.backButtonHome{
  height : 12px;
  width : 12px;
  margin: auto 0;
  margin-top : 8px;
  cursor: pointer;
}
.demo{
  margin-bottom: 5px;
}
.homeScreenTrickOuterDiv{
  font-size: 12px;
}

.homeScreenTrickDiv{
  display:block;
  height: auto;
  max-width: 345px;
  margin : 0 auto;
}
.homeScreenTrickMainLabel{
  text-align: center;
  width: 100%;
  margin-left : 10px;
  font-size: 20px;

}
.homeScreenTrickSubLabel{
  text-align: left;
  width: 100%;
  
  font-size: 16px;
  margin:3px;
  margin-left : 10px;

}
.homeScreenTrickLeaderLabel{
  text-align: left;
  width: 100%;
  margin-left : 10px;
  font-size: 12px;

}
.patternListButton{
  width:200px;
  margin-top: 20px;
  font-size: 20px;
  background-color: #EE82EE;
  border-radius: 5px;
  font-family: Futura;
  color:white;
  margin-bottom:30px;
}

.detailButton{
  background-color: white;
  color : #0000FF;
  border : none;
  font-size: 13px;
  cursor: pointer;
}

.statsLabel{
  text-align: left;
  display : inline-block;
  margin-left : 16px;
  font-weight: bold;
  margin-right: 5px;
  margin-top: 5px;
}
.stats{
  text-align: left;
  width: 100%;
  margin-left : 10px;
  font-size: 15px;
}

.infoLabel{
  width: 60px;
  text-align: left;
  display : inline-block;
  margin-left : 16px;
  font-weight: bold;
  margin-right: 5px;
  margin-top: 5px;
}

.info{
  text-align: left;
  width: 100%;
  margin-left : 10px;
  font-size: 15px;
}

.donationSection{
  position: fixed;
  bottom:0;
  font-size: 12px;

  text-align: center;
  width: 300px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:10px;
}
.bitcoinIcon{
  width:12px;
  padding-left: 7px;
  padding-right: 4px;
  padding-bottom: -2px;
}
.donationLink{
  text-decoration: none;
}