

.tagSection{
  margin-top: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color:white;
  padding : 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.mainTagsHeader{
  margin-left:10px;
  vertical-align: middle;
  font-size: 12px;
}

.tagDiv{
  margin-left: 2px; 
  text-align: left;
  display:inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding : 5px;
  border :1px solid darkgray;
  border-radius: 2px;
  background-color : #eee;
  height: 20px;
}

.mainTagsName{
  overflow: hidden;
  text-overflow: hidden;
  font-size: 12px;
}

.mainTagsX{
  padding-left: 3px;
  padding-right: 3px;
  color: #888888;
  font-size: 12px;
}

.filterButton{
  height : 23px;
  width : 23px;
  cursor : pointer;
  display: inline-block;
  vertical-align: top;
  margin : 0;
  margin-left : 2px;
  margin-right : 2px;
  border : 1px solid gray;
  border-radius: 3px;
}
.selectedfilterButton{
  filter:  brightness(70%);
}
.unselectedfilterButton{
  filter:  brightness(100%) ;

}









