

.tagSection{
  margin-top: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color:white;
  padding : 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.mainTagsHeader{
  margin-left: 5px;
  font-size: 12px;
  font-style: italic;
}

.tagDiv{
  margin-left: 2px; 
  text-align: left;
  display:inline-block;
  cursor: pointer;
  padding : 5px;
  border :1px solid darkgray;
  border-radius: 2px;
  background-color : #eee;
  height: 20px;
}

.mainTagsName{
  overflow: hidden;
  font-size: 12px;
}

.mainTagsX{
  padding-left: 3px;
  padding-right: 3px;
  color: #888888;
  font-size: 12px;
}
.searchIcon{
  height : 23px;
  width : 23px;
  display: inline-block;
}
.shareButton{
  height : 23px;
  width : 23px;
  cursor : pointer;
  display: inline-block;
  margin : 0;
  margin-left : 3px;
  margin-right : 3px;
}
.filterButton{
  height : 23px;
  width : 23px;
  cursor : pointer;
  display: inline-block;
  margin : 0;
  margin-left : 3px;
  margin-right : 3px;
  border : 1px solid gray;
  border-radius: 3px;
}
.listButton{
  width : 27px;
  height: 27px;
  cursor : pointer;
  margin-left : 3px;
  margin-right : 3px;
}
.selectedListButton{
  filter:  invert(0.5) sepia(1) saturate(8) hue-rotate(90deg);
}
.unselectedListButton{
  filter:  grayscale(100%) brightness(60%) contrast(10000000%);
  opacity: .2;
}
.selectedfilterButton{
  filter:  brightness(70%);
}
.unselectedfilterButton{
  filter:  brightness(100%) ;
}

.searchInput{
  width: 90px;
  margin-right : 3px;
  margin:0;
  margin-left: 5px;
  margin-right: 5px;
  margin-top : 0px;
  margin-bottom : 0px;
}

.sortDropdown{
  position : absolute;
  margin-top: 145px;
  margin-left: 130px;
  padding-top: 9px;
  padding-left: 7px;
  width: 200px;
  height: 270px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  opacity: .95;
  z-index: 1300;
  box-shadow : 5px 10px 8px #888888;
}
.sortDropdownButton{
  font-weight: bold;
  display : block;
  border: none;
  background-color: white;
  color: darkgray;
  text-align: left;
  font-size: 14px;
  z-index: 1200;
  width : 95%;
  height : 30px;
  outline: 0;
  box-shadow: none!important;
}
.sortDropdownButtonSelected{
  color: black;
}
.divdingLine{
  margin-right: 6px;
}









