
.mainTagsFullDiv{
  height: 60px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  background-color:white;
}
.mainTagsButtonsDiv{
  position: absolute;
  left:80px;
  margin-top:-26px;
}
.tagSection{
  margin-top: 10px;
}
.mainTagsHeader{
  margin-left:10px;
  vertical-align: top;
  font-size: 12px;
}

.mainTagsDiv{
  margin-left: 2px; 
  text-align: left;
  display:inline-block;
  vertical-align: top;
}

.mainTagsName{
  background-color : #eee;
  border:1px solid darkgray;
  border-right: none;
  overflow: hidden;
  text-overflow: hidden;
  font-size: 12px;
  float:left;
  vertical-align: middle;

}

.mainTagsX{
  background-color : #eee;
  border:1px solid darkgray;
  border-left: none;
  color: #888888;
  font-size: 12px;
  float:left;

}











