.rotatingRandomTrickBox { 
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.rotatedRandomTrickBox { 
    transform:rotate(360deg); 
    -webkit-transform:rotate(360deg); 
    -moz-transform:rotate(360deg); 
    -o-transform:rotate(360deg); 
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.searchAndFilterSection{
  display:block;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;  
  margin-bottom: 10px;
}
.searchAndFilterSectionOnTrickList{
  display:block;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;  
}
.inputSection{
  background-color:white;
  padding : 10px;
  padding-bottom: 4px;
  display: inline-flex;
    align-items: center;
  flex-wrap: wrap;

}

.tagSection{
  margin-bottom: 4px;
  margin-top:0px;
  text-align: left;
}
.mainTagsHeader{
  margin-left: 5px;
  font-size: 12px;
  font-style: italic;
}
.tagDiv{
  margin-left: 2px; 
  text-align: left;
  display:inline-block;
  cursor: pointer;
  padding : 5px;
  border :1px solid darkgray;
  border-radius: 2px;
  background-color : #eee;
  height: 14px;
  line-height: 10px;
}

.mainTagsName{
  overflow: hidden;
  font-size: 12px;
  vertical-align: middle;
  margin-top: -10px;
}

.mainTagsX{
  padding-left: 3px;
  padding-right: 3px;
  color: #888888;
  font-size: 12px;
}
.searchIcon{
  height : 23px;
  width : 23px;
  display : inline-block;
  cursor : pointer;
}
.randomTrickIcon{
  height : 35px;
  width : 35px;
  float: right;
  margin-top: 2px;
  margin-right: 6px;
  cursor : pointer;
}

.filterButton{
  height : 23px;
  width : 23px;
  cursor : pointer;
  display: inline-block;
  margin : 0;
  margin-left : 3px;
  margin-right : 3px;
  border : 1px solid gray;
  border-radius: 3px;
}
.listButton{
  width : 27px;
  height: 27px;
  cursor : pointer;
  margin-left : 3px;
  margin-right : 3px;
}
.selectedListButton{
  filter:  invert(0.5) sepia(1) saturate(8) hue-rotate(90deg);
}
.unselectedListButton{
  filter:  grayscale(100%) brightness(60%) contrast(10000000%);
  opacity: .2;
}
.selectedfilterButton{
  filter:  brightness(70%);
}
.unselectedfilterButton{
  filter:  brightness(100%) ;
}

.searchInput{
  width: 90px;
  margin-right : 3px;
  margin:0;
  margin-left: 5px;
  margin-right: 5px;
  margin-top : 0px;
  margin-bottom : 0px;
}

.sortDropdown{
  position : absolute;
  left:-30px;
  margin-top: 142px;
  margin-left: 22px;
  padding-top: 9px;
  padding-left: 7px;
  width: 200px;
  height: 270px;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: white;
  opacity: .95;
  z-index: 1300;
  box-shadow : 5px 10px 8px #888888;
}
.sortDropdownButton{
  font-weight: bold;
  display : block;
  border: none;
  background-color: white;
  color: darkgray;
  text-align: left;
  font-size: 14px;
  z-index: 1200;
  width : 95%;
  height : 30px;
  outline: 0;
  box-shadow: none!important;
}
.sortDropdownButtonSelected{
  color: black;
}
.divdingLine{
  margin-right: 6px;
}









