

.popupInfoDiv{
  text-align: left;
  padding-left:  10px;
  white-space: nowrap;      /*keep text on one line */
  margin-bottom: 10px;
}
.moreInfoDiv{
  width: 200px;

}
.explanationSection{
  height: auto;
  width: 110%;

}
.explanation{
  font-size: 12px;
  width : 90%;
  display : block;
  height: auto;
  white-space: normal;
}
.popupHeader{  
  margin-top: 35px ;
  margin-bottom: 15px ;
  border-top: 1px solid gray;
}

.popupLabel{
  margin-bottom : 5px;
  margin-right: 5px;
  display: inline-flex;
  font-weight: bold;
  font-size: 14px;
  width: 90px; 
}

.popupTags{
  width:100%;
  display : flex;
  flex-wrap: wrap;
  font-size: 13px;
  margin-bottom:  10px;
}
.popupTag{
  margin-right: 3px;
}
.popupLink{
  padding : 0;
  margin : 0 auto;
  width : 120px;
  display: block;
  color : #0000EE;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.popupDiv{
  overflow-y: auto;
  position : absolute;
  left: 182px;
  width: 35vw;
  max-width: 240px;
  background-color : white;
  z-index : 1200;
  border : 1px solid gray;
  box-shadow : 5px 10px 8px #888888;;
  border-radius: 8px;
  text-align: center;
  height: 85vh;
  overflow-x:hidden;
}

@media screen and (max-width: 700px) {
  .popupDiv{
    left: 182px;
    width: calc(100% - 182px) ;
  }
}

.showInfo{
  font-size: 13px;
  color: blue;
}

.editCatchIcon{
  margin-left: 5px;
  height : 15px;
  width : 15px;
}
.addAndRemoveMyTricksButtonOnPopup{
  line-height: -0px;
  font-size: 20px;
  box-shadow : 2px 0px 5px #888888;
  padding : 2px;
  border-radius: 5px;
  margin-right: 10px;
  height: 24px;
  width: 24px;
  float : left;
  margin-top : 8px;

}
.deleteTrickIcon{
  height : 20px;
  width : 20px;
  float : left;
  margin-left: 8px;
  margin-right : 8px;
  margin-top : 8px;
}
.editCardIcon{
  height : 20px;
  width : 20px;
  float : left;
  margin-right : 8px;
  margin-top : 8px;
}
.closePopupIcon{
  height : 24px;
  width : 24px;
  float : right;
  margin-right : 8px;
  margin-top : 8px;
}
