
.profileImage{
  width: 35px;
  height:35px;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 10px;
}

.instagramHeader{
  font-weight: bold;
  display : flex;
  align-items: center;
  margin-bottom: 5px;
  margin-right: 15px;
  justify-content: center;
}
.instagramUsername{
  margin-left: 5px;
  margin-right: 5px;
}
.instagramViewProfileButton{
  background-color : #0868CE;
  color : white;
  margin-left: 5px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  height : 30px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;

}
.instagramLogo{
  width: 15px;
  height:15px;
  margin-left: 5px;
}
.fullScreenOuterDiv{
  width: 100%;
  text-align: center;
  position: absolute;
  height: 120%;
  z-index : 1200;
  background-color : white;
  left : 0;
  top : 0;
}
.fullScreenDemo{
  width: 100%;
  height: 70%;

}
.gifFullScreenDemo{
  width: 70%;
  height: 90%;
}

.demo{
  width: 256px;
  height: 224px;
}
.gifDemo{
  width: 100%;
  height: 224px;
  vertical-align: middle;
}
.outerDiv{
  width: 100%;
  height: 315px;
  border: 1px solid darkgray;
  z-index : 1200;
}
.fullScreenIcon{
  margin-left: auto;
  display : block;
  margin-right: 10px;
  margin-top : 10px;
  margin-bottom: 10px;
  width: 20px;
  height : 20px;
}
