.addAndRemoveMyTricksButton{
  font-size: 14px;
  box-shadow : 2px 0px 5px #888888;
  padding : 2px;
  border-radius: 5px;
  margin-right: 5px;
}
.addAndRemoveMyTricksButtonOnPopup{
  font-size: 1.17em;
  font-weight: bold;
  box-shadow : 2px 0px 5px #888888;
  padding : 0px;
  border-radius: 5px;
  margin-right: 5px;
  width: 35px;
  height: 35px;
}
.popupHeader{
  margin-bottom: 15px ;

}
.popupLabel{
  margin-bottom : 5px;
  margin-right: 5px;
  display: inline-block;
  font-weight: bold;
}

.popupTags{
  float: left;
}
.popupLink{
  padding : 0;
  margin : 0 auto;
  width : 120px;
  display: block;
  color : #0000EE;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.popupDiv{
  overflow-y: scroll;
  height:380px;
  position : absolute;
  background-color : white;
  z-index : 1200;
  border : 1px solid gray;
  box-shadow : 5px 10px 8px #888888;;
  border-radius: 8px;
  text-align: center;
}

.editCatchIcon{
  margin-left: 5px;
  height : 15px;
  width : 15px;
}
