
.addAndRemoveMyTricksButtonOnPopup{
  line-height: -0px;
  font-size: 20px;
  box-shadow : 2px 0px 5px #888888;
  padding : 2px;
  border-radius: 5px;
  margin-right: 10px;
  height: 24px;
  width: 24px;

}
.popupHeader{
  margin-top: 15px ;
  margin-bottom: 15px ;
}
.popupLabel{
  margin-bottom : 5px;
  margin-right: 5px;
  display: inline-block;
  font-weight: bold;
}

.popupTags{
  float: left;
}
.popupLink{
  padding : 0;
  margin : 0 auto;
  width : 120px;
  display: block;
  color : #0000EE;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.popupDiv{
  overflow-y: scroll;
  height:600px;
  position : absolute;
  background-color : white;
  z-index : 1200;
  border : 1px solid gray;
  box-shadow : 5px 10px 8px #888888;;
  border-radius: 8px;
  text-align: center;
}

.editCatchIcon{
  margin-left: 5px;
  height : 15px;
  width : 15px;
}
.editCardIcon{
  height : 20px;
  width : 20px;
  float : right;
  margin-right : 8px;
  margin-top : 8px;
}
