.profileOuterDiv{
  text-align: center;
  align-items: center;
  width : 100%;
  margin-bottom: 60px;
    max-width: 400px;
    margin : 0 auto;
}
.shareButton{
  height : 23px;
  width : 23px;
  cursor : pointer;
  float: right;
  margin-left : auto;
  margin-right : 3px;
}
.backButtonSurroundingDivProfile{
  width: 300px;
  margin : 0 auto;
  text-align: right;
  display: flex;
}
.backButtonHome{
  height : 12px;
  width : 12px;
  margin: auto 0;
  margin-top : 8px;
  cursor: pointer;
}