.profileOuterDiv{
  text-align: center;
  align-items: center;
  width : 100%;
  margin-bottom: 60px;
    max-width: 400px;
    margin : 0 auto;
}
.shareButton{
  height : 23px;
  width : 23px;
  cursor : pointer;
  float: right;
  margin-left : auto;
  margin-right : 3px;
}
.backButtonSurroundingDivProfile{
  width: 300px;
  margin : 0 auto;
  text-align: right;
  display: flex;
}
.backButtonProfile{
  height : 15px;
  width : 15px;
  margin-top:4px;
  cursor: pointer;
}
.backButtonProfileLabel{
  color: #3090C7;
  cursor: pointer;
}