.profileOuterDiv{
  text-align: center;
  align-items: center;
  width : 100%;
  margin-bottom: 60px;
    max-width: 400px;
    margin : 0 auto;
}
.shareButton{
  height : 23px;
  width : 23px;
  cursor : pointer;
  float: right;
  margin-left : auto;
  margin-right : 3px;
}
.shareProfileButton{
  height : 20px;
  width : 20px;
  margin-left : auto; 
  cursor: pointer;
}
.profileHeader{
  margin-top : 40px;
  margin-bottom : 10px;
}
.backButtonSurroundingDivProfile{
  width: 100%;
  display: flex;
  margin-right:none;
}
.backButtonProfile{
  height : 15px;
  width : 15px;
  margin-top:4px;
  cursor: pointer;
}
.backButtonProfileLabel{
  color: #3090C7;
  cursor: pointer;
}
.signedInAsSection{
	text-align: left;
	font-size: 14px;
}
.individualProfileStatsDiv{
  width: 300px;
  margin : 0 auto;
  text-align: right;
  display: flex;
}

.profileStatsLabelButton{
  font-weight: bold;
  cursor: pointer;
  color: blue;
  margin:0 auto;
  text-align: left;
  margin-top: 10px;
  margin-right:10px;
  align-items: right;
  font-size: 11pt;
}
.profileStatsLabelButtonGreyed{
  font-weight: bold;
  cursor: pointer;
  color: grey;
  margin:0 auto;
  text-align: left;
  margin-top: 10px;
  margin-right:10px;
  align-items: right;
  font-size: 11pt;
}

.iconProfile{
  height : 24px;
  width : 24px;
  margin-left: 6px;
  margin-top : 8px;
  opacity: 1;
  filter:  invert(0.5) sepia(1) saturate(8) hue-rotate(90deg); 
  opacity: 1; 
  cursor: pointer;
}

.profileStatsValues{
  align-items: right;
  color:black;
  width: 50px;
   margin-top: 10px;
  text-align: right;
  padding-right: 110px;
}