.statsOuterDiv{
  text-align: center;
  align-items: center;
  width : 100%;
  margin-bottom: 60px;
}
.mainStats{
  font-size: 12px;
}
.mainIndividualStats{
  margin: 10px;
}
.individualStatsDiv{
  width: 350px;
  margin : 0 auto;
  text-align: right;
  display: flex;
}

.statsLabelButton{
  font-weight: bold;
  cursor: pointer;
  color: blue;
  margin:0 auto;
  text-align: right;
  margin-right:10px;
  align-items: right;
  width:100%;
}

.statsValues{
  align-items: left;
  color:black;
  width: 50px;
  text-align: left;
  padding-left: 20px;
  padding-right: 120px;
}

.rotatedNegative90{
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -moz-transform: rotate(90deg);   /* Firefox */
  -ms-transform: rotate(90deg);   /* IE 9 */
  -o-transform: rotate(90deg);   /* Opera */
  transform: rotate(90deg);
}
.backButtonSurroundingDivStats{
  width: 400px;
  margin : 0 auto;
  text-align: right;
  display: flex;
}
.backButtonStats{
  height : 15px;
  width : 15px;
  margin: auto 0;
  margin-top : 5px;
  cursor: pointer;
}
.backButtonStatsLabel{
  color: #3090C7;
  cursor: pointer;
}