.statsOuterDiv{
  text-align: center;
  align-items: center;
  width : 100%;
  margin-bottom: 60px;
}

.individualStatsDiv{
  width: 300px;
  margin : 0 auto;
  text-align: right;
  display: flex;
}

.statsLabelButton{
  font-weight: bold;
  cursor: pointer;
  color: blue;
  margin:0 auto;
  text-align: left;
  margin-right:10px;
  align-items: right;
}

.statsValues{
  align-items: right;
  color:black;
  width: 50px;
  text-align: right;
  padding-right: 110px;
}

.rotatedNegative90{
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
  -moz-transform: rotate(90deg);   /* Firefox */
  -ms-transform: rotate(90deg);   /* IE 9 */
  -o-transform: rotate(90deg);   /* Opera */
  transform: rotate(90deg);
}
.backButtonSurroundingDivStats{
  width: 300px;
  margin : 0 auto;
  text-align: right;
  display: flex;
}
.backButtonHome{
  height : 12px;
  width : 12px;
  margin: auto 0;
  margin-top : 8px;
  cursor: pointer;
}