.expandText{
  font-style: italic;
  font-size: 12px;
  margin-right: 20px;
  margin-left: 10px;

  margin-top: 10px;
  line-height: 14px;
  vertical-align: middle;

}
.minimizedListButton{
  margin-left: 10px;
  font-size: 30px;
  vertical-align: middle;
  margin-bottom: 10px;
  line-height: 14px;
}
.minimizedListDiv{
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  padding-left : 5px;
  padding-right : 5px;
  padding-bottom : 5px;
  width: 170px;
  border : 1px solid gray;
  margin-left : 1px;
  text-align: center;
  display: inline-block;
  position: absolute;
  z-index: 1;
  opacity : 100%;
  background-color : white;
  box-shadow : 5px 10px 8px #888888;;
  border-radius : 0 10px 10px 0;
}
.listCard{
  border : 1px solid gray;
  width : 97%;
  font-size : 15px;
  cursor: pointer;
  text-align: left;
  height : 25px;
  display : flex;
  align-items : center;
}
.selectedListCard{
  border : 3px solid black;
  border-right: 6px solid black;
  width : 97%;
  font-size : 20px;
  cursor: pointer;
  text-align: left;
  height : 35px;
}
.addAndRemoveMyTricksButton{
  font-size: 14px;
  box-shadow : 2px 0px 5px #888888;
  padding : 2px;
  border-radius: 5px;
  margin-right: 5px;
}
.listCardName{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display : inline-block;
  width : 70%;
  cursor: pointer;
  vertical-align: middle;
}

.listExpandCollapseButton{
  font-size:30px;
  float : right; 
  padding-right : 15px;
  vertical-align: middle;
}
.selectedListMinimizedIndicator{
  width : 50%;
  height: 40px;
  cursor : pointer;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

  filter:  invert(0.5) sepia(1) saturate(8) hue-rotate(90deg);
}
.listButton{
  width : 50%;
  height: 50px;
  cursor : pointer;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.selectedListButton{
  filter:  invert(0.5) sepia(1) saturate(8) hue-rotate(90deg);
}
.unselectedListButton{
  filter:  grayscale(100%) brightness(60%) contrast(10000000%);
  opacity: .2;
}
.listIcons{
  margin-top:10px;
  height : 25px;
  width : 33px;
}
.search{
  margin:0;
  margin-top : 20px;
  margin-bottom : 10px;
  text-align: center;
  vertical-align: top;

}
.listDiv{
  padding-left : 5px;
  padding-right : 5px;
  padding-bottom : 5px;
  width: 170px;
  max-height: 90vh;
  border : 1px solid gray;
  margin-left : 1px;
  text-align: center;
  display: inline-block;
  position: absolute;
  z-index: 1;
  opacity : 100%;
  background-color : white;
  box-shadow : 5px 10px 8px #888888;;
  border-radius: 8px;
  -ms-touch-action: none;
  touch-action: none;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling : touch;
}

.sectionHeader{
  display: inline-block;
  cursor: pointer;
}
.listSection{
  max-height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling : touch;
}
.sortDropdown{
  position : absolute;
  margin-top: 143px;
  margin-left: 116px;
  padding-top: 7px;
  padding-left: 7px;
  width: 200px;
  height: 260px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: white;
  opacity: .95;
  margin-right : 85px;
  z-index: 1300;
}
.sortDropdownButton{
  font-weight: bold;
  display : block;
  border: none;
  background-color: white;
  color: darkgray;
  text-align: left;
  font-size: 14px;
  z-index: 1200;
  width : 95%;
  height : 30px;
  outline: 0;
  box-shadow: none!important;
}
.sortDropdownButtonSelected{
  color: black;
}
.divdingLine{
  margin-right: 6px;
}
.addTrickButton{
  border: 1px solid black;
  background-color : white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 10px;
  color : darkgreen;
}
.searchInput{
  width: 90px;
  margin-right : 3px;
}

