.listCard{
  border : 1px solid gray;
  width : 97%;
  font-size : 15px;
  cursor: pointer;
  text-align: left;
}
.selectedListCard{
  border : 2px solid black;
  width : 97%;
  font-size : 15px;
  cursor: pointer;
  text-align: left;
}
.addAndRemoveMyTricksButton{
  font-size: 14px;
  box-shadow : 2px 0px 5px #888888;
  padding : 2px;
  border-radius: 5px;
  margin-right: 5px;
}
.listCardName{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display : inline-block;
  width : 70%;
  cursor: pointer;
  vertical-align: middle;
}
.listButtonDiv{
  text-align: left;
}
.selectedListButton{
  font-size: 15px;
  border-radius: 5px;
  background-color : darkgray;
  width : 80px;
  box-shadow : 2px 0px 5px #888888;
  padding : 0;
}
.unselectedListButton{
  font-size: 15px;
  border-radius: 5px;
  width : 80px;
  box-shadow : 2px 0px 5px #888888;;
  padding : 0;
}
.search{
  margin-top : 10px;
  margin-bottom : 10px;
  text-align: center;
}
.listDiv{
  padding-left : 5px;
  padding-right : 5px;
  padding-bottom : 5px;
  width: 160px;
  max-height: 90vh;
  border : 1px solid gray;
  margin-left : 1px;
  display: inline-block;
  position: absolute;
  z-index: 1;
  opacity : 100%;
  background-color : white;
  box-shadow : 5px 10px 8px #888888;;
  border-radius: 8px;
  -ms-touch-action: none;
  touch-action: none;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling : touch;
}

.sectionHeader{
  display: inline-block;
  cursor: pointer;
}
.listSection{
  max-height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling : touch;

}
.sortDropdownButtonDif{
  display : block;
  position : absolute;
  width : 80px;
  height : 30px;
  margin-top: 0px;
}
.sortDropdownButtonAlph{
  display : block;
  position : absolute;
  width : 80px;
  height : 30px;
  margin-top: 25px;
}
.sortDropdown{
  position : relative;
  margin-right : 85px;
  float : right;
}
/* Example Styles for React Tags*/
#app {
  padding: 40px;
}
