.listDiv{
  padding-bottom : 5px;
  padding-top: 5px;
  width: 99%;
  max-width: 400px;
  height: auto;
  max-height: 100vh;
  margin-left : 1px;
  text-align: center;
  display: inline-block;  
  z-index: 1;
  opacity : 100%;
  background-color : white;
  border-radius: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling : touch;
}

.noResultsDiv{
  padding-top: 15px;
  font-style : italic;
}

.trickListOuterDiv{
  text-align: center;
  width: 100%;
}
.demoOuterDivTrickList{
  display: block;
}
.backButtonSurroundingDivList{
  width: 400px;
  margin : 0 auto;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.backButtonList{
  height : 15px;
  width : 15px;
  margin: auto 0;
  margin-top : 5px;
  cursor: pointer;
}
.backButtonListLabel{
  color: #3090C7;
  cursor: pointer;
}

.listCard{
  height: 55px;
  border : .5px solid gray;
  border-top : none;
  text-align: left;
  transition: all .5s ease;
  cursor: pointer;
}
.mainCard{
  display: block;
}
.unexpandedSection{
  height: 55px;
  display : flex;
  align-items : center;  
}
.topCard{
  border-top : .5px solid gray;
}
.detailListCard{
  height: 80px;
  display: flex;
}
.listCard.expand {
  height: 305px;
  max-height: auto;
}

.cardInfo{
  display: inline-block;
  height: 100%;
}
.expandButtonDiv{
  display: inline-block;
  width: 15px;
  height : 100%;
  display : flex;
  align-items : center;
  justify-content: center;
  padding-right: 5px;
  padding-left: 5px;

}
.catchesIconList{
  width: 18px;
  height: 18px;
  margin-right: 3px
}
.catchesListLabel{
  font-size: 10px;
  margin-right: 4px;
  width: 22px;
}
.bottomRow{
  display: flex;
  align-items: center;
}
.tags{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  width : 255px;
}
.siteswap{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  margin-left: 8px;

}

.tagsDesktop{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.rotated90{
  -webkit-transform: rotate(-90deg); /* Safari and Chrome */
  -moz-transform: rotate(-90deg);   /* Firefox */
  -ms-transform: rotate(-90deg);   /* IE 9 */
  -o-transform: rotate(-90deg);   /* Opera */
  transform: rotate(-90deg);
}

.loadingDiv{
  width: 100%;
  align-items: center;
  display:block;
}
.loader {
  margin:auto;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); 
  border-top: 8px solid rgb(0, 255, 0);}
  25% { transform: rotate(90deg); 
  border-top: 8px solid rgb(255, 255, 0);}
  50% { transform: rotate(180deg); 
  border-top: 8px solid rgb(255, 0, 0);}
  75% { transform: rotate(270deg); 
  border-top: 8px solid rgb(255, 255, 0);}
  100% { transform: rotate(360deg); 
  border-top: 8px solid rgb(0, 255, 0);}  
}

.bottomRowText{
  font-size : 11px;
  display: inline-block;
}

.addAndRemoveMyTricksButtonList{
  cursor: pointer;
  line-height: -0px;
  font-size: 14px;
  box-shadow : 2px 0px 5px #888888;
  padding : 2px;
  border-radius: 5px;
  margin-right: 5px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
}
.selectTrickButton{
  cursor: pointer;
  margin-left: auto;
  margin-right: 5px;
  border-radius: 5px;
}
.listCardNameDiv{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  color : #212121;
  font-weight: bold;
  font-size: 14px;
  z-index: 1300;
  width: 345px;
  margin-top: 5px;
}
.listCardNameDivDesktop{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  color : #212121;
  font-weight: bold;
  font-size: 14px;
  z-index: 1300;
  margin-top: 5px;
}

.difficultyGauge{ 
  margin-top:-10px;
  margin-left:-5px;
  vertical-align: middle;
  display: inline-grid;
  font-size: 22px;
  font-weight:none;
  z-index:1;
  pointer-events: none;
}


.listIcons{
  margin-top:10px;
  height : 25px;
  width : 33px;
}
.search{
  margin:0;
  margin-top : 20px;
  margin-bottom : 10px;
  text-align: center;
  vertical-align: top;
}
.thumbLine{
  display: flex;
  align-items: center; 
  justify-content: flex-start;
  font-size : 12px ;
}
.thumbLine span{
  margin-right: 5px;
  color : #6A7C92;
}
.thumbLine label{
    font-weight: bold;
    width : 20px;
}
.thumbIcon{
  margin-left: 5px;
  margin-right: 5px;
  height : 16px;
  width: 16px;
  vertical-align: middle;
  filter:  brightness(85%) saturate(75%);

}
.selectedThumbIcon{
  height : 18px;
  width: 18px;
  filter:  sepia(100%)  brightness(150%) contrast(50%) saturate(500%) hue-rotate(60deg);
}
.sectionHeader{
  display: inline-block;
  cursor: pointer;
}
.listSection{
  height: auto;
  max-height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-overflow-scrolling : touch;
}

.sortDropdownButtonSelected{
  color: gray;
}


